.conditions {
    padding: 50px 0;
}

.conditions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.conditions__list li {
    font-family: "Involve", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #151515;
    padding: 40px 30px;

    border: 1px solid #151515;
    border-radius: 4px;
    backdrop-filter: blur(34px);
}

@media (max-width: 850px) {
    .conditions__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .conditions__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .conditions {
        padding: 30px 0;
    }
}