.title {
    font-size: clamp(2.25rem, 1rem + 5.333vw, 5rem);
    font-weight: 500;
    color: var(--red);
    text-align: center;
    line-height: 1.1;
    margin-bottom: clamp(1.875rem, 1.307rem + 2.424vw, 3.125rem);
}

.title--small {
    font-size: clamp(1.75rem, 0.936rem + 3.474vw, 4.063rem);
}